<div class="container ">

	<div class="row">
		<!-- Main video holder -->
		<div class="col-md-9 no-float video-section">
			 <div class="videoWrapper">
	             <video videofix class="video-js vjs-default-skin" height="100%" autoplay preload="auto">
	                <source src="//la1tv-wowza1.lancs.ac.uk:1935/live/ngrp:studio_all/playlist.m3u8" type="video/mp4">
	                <source src="//la1tv-wowza1.lancs.ac.uk:1935/live/ngrp:studio_all/playlist.m3u8" type="application/x-mpegURL">
	            </video>
        	</div>
		</div>

	</div>

</div>

<!-- Bottom footer scrolling text -->
<footer class="section3">
	<tickerwidget event-model="event" number="7" />
</footer>